<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="renderer" content="webkit">
  <title>智能车库管理系统-统计与查询</title>

  <!--basic dependency-->
  <link rel="stylesheet" href="media/bootstrap3/css/bootstrap-paper-theme.min.css">
  <link rel="stylesheet" href="media/bootstrap3/bootstrap_modified.css">

  <script src="media/js/jquery-1.10.1.min.js"></script>
  <script src="media/bootstrap3/js/bootstrap.min.js"></script>
  <script src="media/js/angular1_2_9.min.js"></script>
  <script src="media/js/echarts3_5_1.common.min.js"></script>
</head>

<body ng-controller="appCtrl">

<div class="container">

  <div class="row">
    <div class="panel panel-primary">
      <div class="panel-heading text-center ">
        <h4>车库管理系统查询与统计</h4>
      </div>
      <div class="panel-body date-panel">
        <ul class="nav nav-tabs nav-justified">
          <li ng-repeat="d in database"><a href="javascript: void(0);" ng-click=""><h4>{{d.title}}</h4></a></li>
        </ul>
        <div class="form-horizontal">

          <div class="row">
            <div class="col-xs-3" ng-repeat="q in queryOptions">
              <div class="form-group">
                <label class="col-xs-4 control-label">{{q.label}}</label>
                <div class="col-xs-8">
                  <input type="text" class="form-control"
                         placeholder="待填写" ng-model="user.nickname">
                </div>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-xs-6 text-center">
              <button class="btn btn-lg btn-primary button-auto-width" ng-click="doQuery();">
                查询
              </button>
            </div>
            <div class="col-xs-6 text-center">
              <button class="btn btn-lg btn-primary button-auto-width"
                      data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                展开统计选项
              </button>
            </div>
          </div>

          <div class="collapse" id="collapseExample">
            <hr>
            <div class="row">
              <div class="col-xs-6">
                <div class="form-group">
                  <label class="col-xs-3 control-label "><strong>统计项/x轴</strong></label>
                  <div class="col-xs-9">
                    <div class="col-xs-6">
                      <label class="col-xs-5 control-label">统计属性</label>
                      <div class="col-xs-7">
                        <select class="form-control ">
                          <option ng-repeat="cq in queryOptions">{{cq.label}}</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-xs-6">
                      <label class="col-xs-5 control-label">统计步长</label>
                      <div class="col-xs-7">
                        <input type="number" class="form-control">
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xs-6">
                <div class="form-group">
                  <label class="col-xs-3 control-label "><strong>统计指标/y轴</strong></label>
                  <div class="col-xs-9">
                    <div class="col-xs-6">
                      <label class="col-xs-5 control-label">指标属性</label>
                      <div class="col-xs-7">
                        <select class="form-control ">
                          <option ng-repeat="cq in queryOptions">{{cq.label}}</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-xs-6">
                      <label class="col-xs-5 control-label">统计数值</label>
                      <div class="col-xs-7">
                        <select class="form-control ">
                          <option> 个数</option>
                          <option> 总数</option>
                          <option> 平均数</option>
                        </select>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

            </div>

            <div class="row">
              <div class="col-xs-6 text-center">
                <button class="btn btn-lg btn-warning button-auto-width"> 最近一次设置</button>
              </div>
              <div class="col-xs-6 text-center">
                <button class="btn btn-lg btn-warning button-auto-width" ng-click="doCount();">
                  执行统计
                </button>
              </div>
            </div>

          </div>

        </div>

      </div>


    </div>
  </div>
  <div class="row tab-content">

    <div class="panel panel-default">
      <div class="panel-heading text-center ">
        <h5> 结果</h5>
      </div>

      <div class="panel-body date-panel" ng-show="showQuery || showCount">
        <div class="row">
          <div class="col-xs-8"><h5>车辆记录</h5></div>
          <div class="col-xs-4"><button class="btn btn-success pull-right">数据导出</button></div>
        </div>


        <div id="queryResult" ng-show="showQuery">
          <table class="table table-striped">
            <thead>
            <tr>
              <th ng-repeat="th in tableHead">
                <a href="javascript: void(0);" ng-click="doSort(th)">
                {{th.label}}{{th.label == sortWhat.label ? (sortWhat.isDown ? "↓" : "↑") : ""}}</a></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="th in [1,2,3,4,5,7,8,9,10]">
              <td ng-repeat="th in tableHead">value</td>
            </tr>
            </tbody>
          </table>
          <div class="row text-center">
            <nav>
              <ul class="pagination">
                <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
              </ul>
            </nav>
          </div>

        </div>



        <div id="countReuslt" ng-show="showCount">
          <div id="main" style="width: 100%; height: 500px"></div>
        </div>




      </div>
    </div>
  </div>
</div>

</div>



</body>

<script>

    var module = angular.module("app", []);

    module.controller("appCtrl", function ($scope)
    {
        $scope.database = [
            {title: "车辆记录"},
            {title: "收费记录"},
            {title: "处理记录"},
            {title: "运行记录"}
        ];

        $scope.queryOptions = [
            {label: "车牌号"},
            {label: "入场时间"},
            {label: "出场时间"},
            {label: "车型"},
            {label: "收费方式"},
            {label: "条形码"},
        ];


        $scope.tableHead = [
            {label: "记录号", key: "" },
            {label: "车牌号", key: ""},
            {label: "入场时间", key: ""},
            {label: "出场时间", key: ""},
            {label: "车型", key: ""},
            {label: "收费方式", key: ""},
            {label: "费用", key: ""},
            {label: "条形码", key: ""}
        ];


        $scope.sortWhat = {
            label : "",
            isDown: true
        }

        $scope.doQuery = function ()
        {
           $scope.showQuery = true;
           $scope.showCount = false;
        };

        $scope.doCount = function ()
        {
            $scope.showCount = true;
            $scope.showQuery = false;
        };

        $scope.doSort = function (tableH)
        {
            if ($scope.sortWhat.label == tableH.label)
            {
                $scope.sortWhat.isDown = !$scope.sortWhat.isDown;
            }
            else
            {
                $scope.sortWhat.label = tableH.label;
                $scope.sortWhat.isDown = true;
            }
        };



        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '',
                subtext: '出入量'
            },
            tooltip: {},

            toolbox: {
                show: true,
                feature: {
                    dataZoom: {
                        yAxisIndex: 'none'
                    },
                    magicType: {type: ['line', 'bar']},
                    saveAsImage: {}
                }
            },
            legend: {
                data:['车型']
            },
            xAxis: {
                data: ["C1","C2","C3","C4","C5","C6"]
            },
            yAxis: {},
            series: [{
                name: '出入量',
                type: 'bar',
                data: [5, 20, 36, 10, 10, 20]
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);


    });

</script>


</html>